<footer>
  <div class="container">
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="navSelected" [routerLinkActiveOptions]="{exact:
          true}" class="navIcon home">Home</a></li>
        <li><a routerLink="/category" routerLinkActive="navSelected" class="navIcon category">Category</a></li>
        <li><a routerLink="/trophy" routerLinkActive="navSelected" class="navIcon trophy">Trophy</a></li>
        <li><a routerLink="/search" routerLinkActive="navSelected" class="navIcon search">Search</a></li>
      </ul>
    </nav>
  </div>
</footer>