footer {
    background: #6A84B8;
    bottom: 0;
    position: fixed;
    width: 100%;

    nav {
        justify-self: left;
        
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em 0em 1em 0em;
                    //text-transform: uppercase;
                    //font-size: .8em;
                    margin-left: 10px; 
                }
            }
        }
    }
}

.navIcon {
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 80px 0 0px;
}

.home {
    background-image: url("../../assets/home.svg");
}

.category {
    background-image: url("../../assets/category.svg");
}

.trophy {
    background-image: url("../../assets/trophy.svg");
    
}

.search {
    background-image: url("../../assets/search.svg");
}

.navSelected {
    border-top: 5px solid #FFD362 ;
}